<div class="jumbotron">
  <h1 class="display-4"> Welcome to Premium, Blochead!</h1>
    <p class="lead">Now that you have become a Blochead Preemie you can now take full advantage
      of what comes with membership!</p>
      <hr class="my-4">
      <ul>
        <li>All access to all wikis</li>
        <li>A long lasting relationship with the founder</li>
        <li>An updated email list of our new members so you can network</li>
        <li>Find out who the next Blocheads are!</li>
        <li>Forever consider yourself a Blochead</li>
      </ul> </br>

  <div class="col-md-4">
    <%= link_to "Access Wikis", wikis_path, class: 'btn btn-primary btn-lg' %>
  </div> </br>
</div>
