
<div class="jumbotron">
  <h1 class="display-4">Checkout the Wikis!</h1>
  <p class="lead">This is where you can view the wikis that have
  been created! Take a gander or upgrade your account to Premium to take
full advantage of what Blocipedia truly offers!</p>
  <hr class="my-4">
  <%= link_to "Upgrade", new_charge_path, class: 'btn btn-success btn-lg' %>
</div>

<% @wiki.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to wiki.title, wiki_path(wiki.id) %>
      </h4>
    </div>
  </div>
<% end %>

<div class="col-lg" style="margin-top: 1.2em;">
  <%= link_to "New", new_wiki_path, class: 'btn btn-primary' %>
</div>
