<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Wiki</p>
    <ul>
      <li>No racial slurs.</li>
      <li>Don't post unintelligible subjects.</li>
      <li>The incessant use of stupid wikis will get you banned.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
