<div class="col-lg-12">
  <%= form_tag charges_path do %>
    <h4>Click to upgrade your account!</h4> </br>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="Premium is just a step away!" ></script>
  <% end %>
</div>
